DATABASE_URL=postgresql+psycopg://<usuario>:<contraseña>@localhost:<puerto>/<nombre de la bbdd>
SECRET_KEY=<insertar clave secreta>
ACCESS_TOKEN_EXPIRE_MINUTES=30
TEST_DATABASE_URL=postgresql+psycopg://<usuario>:<contraseña>@localhost:<puerto>/<nombre de la bbdd>
REFRESH_TOKEN_EXPIRE_DAYS=30